@import "compass/css3";
@import "../../scss/base";

.aside {
  background: $color1;
  height: 100%;
  order: 1;
  position: relative;
  width: 64px;
  z-index: 2;
  @include flex-shrink(0);

  &__icons {
    background: $color1;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    @include display-flex;
    @include flex-direction(column);
    @include flex-shrink(0);
  }

  &__content {
    background: $color5;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    padding: 0 0 0 64px;
    position: absolute;
    top: 0;
    width: 364px;
    z-index: 1;

    &_adjust-size {
      height: auto;
    }
  }
}

@media #{$media-desktop-base},
#{$media-desktop-big},
#{$media-desktop-large},
#{$media-desktop-huge},
#{$media-desktop-imac}  {
  .aside_side_left {
    width: 364px;

    .aside__icons {
      width: 64px;
    }
  }
}

@media #{$media-phone-portrait} {
  .aside {
    height: 64px;
    order: 3;
    width: 100%;

    &__icons {
      @include flex-direction(row);
      @include justify-content(space-between);
    }

    &__content {
      bottom: 0;
      padding: 64px 0 0 0;
      top: auto;
      width: 100%;
    }
  }
}
