@import "../../scss/base";

.app {
  background: #FFF;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);

  &-svg {
    display: none;
  }

  &__metadata {
    left: -10000px;
    position: absolute;
    top: -10000px;
  }
}

@media #{$media-phone-portrait} {
  .app {
    @include flex-direction(column);
  }
}
