@import "../../scss/base";

.main {
  box-sizing: border-box;
  height: 100%;
  order: 2;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 1em 0 1em;
  width: 100%;
  @include display-flex;
  @include flex-direction(column);
}
